:root {
  /* Color Palette */
  --color-dark-blue: #0d1b2a;
  --color-dark-green: #102a43;
  --color-dark-violet: #240046;
  --color-dark-gray: #1e293b;
  --color-accent-blue: #2c7da0;
  --color-accent-green: #38a169;
  --color-accent-violet: #9d4edd;
  --color-light-gray: #94a3b8;
  --color-white: #f8f9fa;

  --border-red: oklch(0.723603 0.176218 350.049);

  /* Font Families */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Shadows and Borders */
  --shadow-primary: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

.App {
  padding: 15px 0;
  padding-top: 115px !important;
  width: 100%;
}

nav {
  /* border-bottom: 1.5px solid rgba(252, 252, 252, 0.4); */
  box-shadow: 0 1px 28px -14px var(--color-black);
  position: fixed;
  top: 0;
  z-index: 100;

  .logo {
    font-family: var(--font-secondary);
    font-weight: 700;

    img {
      transition: all 0.25s;
    }

    a:hover {
      img {
        width: 100px;
      }
    }
  }

  ul {
    li {
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1.5px;
        margin-right: 1.5px;

        .line {
          position: absolute;
          background-color: var(--color-light-gray);
          bottom: 0;
          height: 3px;
          width: 0;
          transform-origin: center;
          transition: transform 0.15s ease, width 0.15s ease;
          border-radius: 2px;
        }

        &:hover .line,
        &.active .line {
          width: 100%;
          transform: scaleX(1);
          background-color: var(--color-light-gray);
        }
      }

      &:last-child {
        a {
          .line {
            height: 0;
          }

          transition: all 0.2s;
          border-radius: 10px;
          font-weight: 700;
          border: 2px solid var(--border-red) !important;
          margin-left: 5px;
          color: var(--border-red);

          &:hover {
            color: var(--color-dark-gray);
            background-color: transparent;
            border-color: var(--border-red) !important;
            background-color: var(--border-red);
          }
        }
      }
    }
  }
}

.ProjectsWebDevelopment {
  .grid {
    height: 400px;
    overflow-y: hidden;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(10, 110px);
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-green);
    position: relative;

    .image-div {
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover {
        img {
          filter: grayscale(0);
          transform: rotate(35deg);
          opacity: 0.4;
          width: 70px;
          margin: 0;
        }
      }

      img {
        filter: grayscale(1);
        margin: 10px 0;
        opacity: 0.2;
        cursor: pointer;
        transition: all 0.2s;
      }
    }

    .text {
      position: absolute;
      left: 34%;

      h1 {
        font-size: 50px;
        font-weight: 700;
      }

      p {
        text-align: center;
        font-size: 20px;

        b {
          color: var(--color-light-gray);
        }
      }
    }
  }
}

hr {
  border: none;
  width: 400px;
  height: 10px;
  background: linear-gradient(to left, var(--color-accent-blue), #1756b6);
  border-radius: 10px;
  margin: 0 auto;
}
