* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@import "tailwindcss";

:root {
  /* Color Palette */
  --color-dark-blue: #0d1b2a;
  --color-dark-green: #102a43;
  --color-dark-violet: #240046;
  --color-dark-gray: #1e293b;
  --color-accent-blue: #2c7da0;
  --color-accent-green: #38a169;
  --color-accent-violet: #9d4edd;
  --color-light-gray: #94a3b8;
  --color-white: #f8f9fa;

  /* Font Families */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Shadows and Borders */
  --shadow-primary: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

body {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
